.gestion-clients {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .left-panel, .right-panel {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .left-panel {
    width: 30%; /* Ajustez la largeur comme nécessaire */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .right-panel {
    width: 70%; /* Ajustez la largeur comme nécessaire */
    display: flex;
    flex-direction: column;
  }
  
  .legends {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: rgb(82, 78, 78);
    font-size: 0.9em; /* Taille de police réduite */
  }
  
  .legend {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .violet::before {
    background-color: violet;
  }
  
  .orange::before {
    background-color: orange;
  }
  
  .red::before {
    background-color: red;
  }
  
  .blue::before {
    background-color: blue;
  }
  
  .filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .filters label {
    margin-bottom: 5px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .calendar-header button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .add-event-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Ajoute un espace entre chaque champ */
  }
  
  .event-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Ajoute un petit espace entre le label et l'input */
  }
  
  .event-form label {
    font-weight: bold;
  }
  
  .event-form input, .event-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  